<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="logo.png" type="image/png">
        <link rel="icon" type="image/png" href="logo.png"/>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Product+Sans" rel="stylesheet" type="text/css">
        <script src="svg/svg.js"></script>
        <link rel="stylesheet" type="text/css" href="prtfl.css">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

        
        <title>Mark Mark Mark</title>
	</head>

   

<div id="myNav" class="overlayC">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <div class="overlayC-content">
            <a href="#">Email</a>
              <b style="color: white; font-size: 40px;">MarkMark@gmail.com</b>
            <a href="#">Github Repository</a>
              <b style="color: white; font-size: 40px;">nandarionndr1</b>
            <a href="#">Facebook | Twitter</a>
              <b style="color: white; font-size: 40px;">Mark Barraquias | @diaBETLEEs</b>
          </div>
    </div>
<body ng-app="myEtits" ng-controller="tite">
     
    <!-- 
    [ ] Fade In/Out Hover About Me JQuery
    [ ] SkillZ Panel/GoogChart? Jquery?
    [ ] Scroll bar of skills
    [ ]
    [ ]


    
    -->
    
    <div class="template" style="padding-top:20px;overflow: hidden">
        
        <div class="action-bar">
            <div class="col-md-5">
                <img src="betbot.png" width="75" height="75" style="padding: 0px; margin-left:50px; display: inline-block">
                <a href="#/" class="logo" style="display: inline-block">
                    <div class="holdingbox">
                        <span class="rightbox">
                            <span class="content" ><b style="color: #4d71a8;">OH HI</b></span>
                        </span>
                        <span class="leftbox" style="font-size:30px">MARK | 4TH<b style="color:#449e3c" id="folio">FOLIO</b></span>
                    </div>
                </a>
            </div>
           <!-- <div class="col-md-2">
                    <audio id="aud">
                        <source id="aud1" src="himark.mp3"></source>
                        <source id="aud2" src="himark.ogg"></source>
                        Your browser isn't invited for super fun audio time.
                    </audio>
                </div>
            -->

            <div class="col-md-7">
                <ul class="nav">
                            <li><a href="#" onclick="click2();">About</a></li>
                            <li><a href="#" onclick="click1();">Arsenal</a></li>
                            <li><a href="#" onclick="Open();">Contact ;)</a></li>
                </ul>
            </div>
        </div>
    
        <div class="view" id="top">
        <progress value="0" id="progressBar">
          <div class="progress-container">
            <span class="progress-bar"></span>
          </div>
        </progress>    
            <audio>
                <source src="himark.mp3"></source>
                <source src="himark.ogg"></source>
            </audio>
            <audio>
                <source src="asset/skra.mp3"></source>
            </audio>
    <script>
       
    </script>
            <section class="cover" id="mainCover">
                <video id="vid" video="" autobuffer="" autoplay="" loop="">
                    <source id="mp4" src="ohm.mp4" type="video/mp4">
                </video>
            </section>
            
                <section class="colored black-trans">
                    <div class="container">
                                <div class="wrapper">
                                    <div class="col-md-7">
                                        <div class="container-img">
                                            <img height="250px" src="fuckboi.png" class="img-circle" style="margin: 24px 0px; margin-top: 48px">
                                            <div class="overlay"></div>
                                        </div>
                                        <div class="abtt">
                                            <img src="android-sad.png" id="lol" style="display: none; height: 200px; width: 200px;">
                                        </div>
                                        <div class="abt"></div>
                                        <h1>About <b class="test" id="test">Mark</b></h1>
                                        <div class="gamz">
                                            <div id="div-0" style="display: none; transition: .3s ease;"><p>MACHO</p></div>
                                            <div id="div-1" style="display: none; transition: .3s ease;"><p>GWAPITO</p></div>
                                            <div id="div-2" style="display: none; transition: .3s ease;"><p>MATIPUNO</p></div>
                                            <div id="div-3" style="display: none; transition: .3s ease;"><p>BOLERO</p></div>
                                            <div id="div-4" style="display: none; transition: .3s ease;"><p style="color: #87b0f2; text-shadow 2px 2px #fff">BABAERO!</p></div>
                                        </div>
                                        
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;______</p>
                                        <br>
                                        <p>Mark is Mark but he is also not Mark. He has many alter egos and multiple personalities.
                                        </p>
                                        <br><br>
                                        <p>
                                            
                                            <p>Mark is <b style="font-size: 100%";>BACKEND BOI</b> . 
                                        </p>
                                    </div>
                                </div>
                    </div>
                </section>
            <section>
                <div class="container" style="padding:10px">
                    <center>
                        <h1 style="display: inline; color:#5e9bff ;text-shadow: 2px 3px #dadfe8;"> WEB DEVELOPMENT SKILLZ 
                            <img src="console1600.png" width="75" height="75" style="padding: 0px; display: inline-block">
                        </h1>
                    </center>
                    <br><br>
                    <hr>
                    <div class="row" style="overflow: hidden; whitespace: nowrap; padding: 4px">
                        <div class="col-md-3">
                            <div class="pie" id="e1" data-pie="#dffc50 5, #000 2" style="display: inline; padding: 15px"></div>
                            <center><h1  style="color: #000">HTML</h1></center>
                            <center><h1 id="e11" style="font-size: 250%">71.0 % Proficiency</h1></center>
                        </div>
                     <div class="col-md-3">
                            <div class="pie" id="e2" data-pie="#38a5ff 2, #000 5" style="display: inline; padding: 15px"></div>
                            <center><h1  style="color: #000">CSS</h1></center>
                            <center><h1 id="e22" style="font-size: 250%">28.6 % Proficiency</h1></center>
                        </div>
                         <div class="col-md-3">
                            <div class="pie" id="e3" data-pie="#ff3546 5, #000 4" style="display: inline; padding: 15px"></div>
                            <center><h1 style="color: #000">JS/JQuery</h1></center>
                            <center><h1 id="e33" style="font-size: 250%">55.6 % Proficiency</h1></center>
                        </div>
                        <div class="col-md-3">
                            <div class="pie" id="e4" data-pie="#f0ff06 5, #000 1" style="display: inline; padding: 15px"></div>
                            <center><h1 style="color: #000">Back-End</h1></center>
                            <center><h1 id="e44" style="font-size: 250%;display: none;">83.3 % Proficiency</h1></center>
                        </div>
                        <br><br>
                    </div>    
                </div>    
	       </section>
            <section class="colored black-trans" id="arsenalz">
                    <div class="container" style="position: relative; max-width:1080px; margin:0 auto;">
                                <div class="wrapper">
                                    <div class="col-md-12" style="text-align: center">
                                        
                                        
                                        <h1 style="font-size: 300%;  display: inline-block; "><b style="color:#ff3546"> ARSENAL<a><img src="Rocket-Icon.png" class="img-align" style="display: inline-block;"></a></b></h1>
                                
                                        <br>
                                        <p>________</p> 
                                        
                                        <h1 style="font-size: 150%;  display: inline-block; "><b> MARK'S</b>
                                            <b style="color:#ff3546"> DANGER WEAPONZ </b></h1>
                                        
                                        <br><br>
                                        <br><br>
                                        <center>
                                         <div class=" buttonwrapper">
                                            <input type="text"  id="markWeap" name="markWeap"  ng-model="markWeap" placeholder=" SEARCH 4 DEM WeaponZ" style="display: inline;" />
                                            <button style="display: inline;" disabled>Q</button>
                                        </div>
                                        </center>
                                        <br><br>
                                        <br><br>
                                      
                                        
                                    </div>
                                </div>
                        
                    </div>
                <div class="verticalz">
                    <!-- ng-repeat="x in thingsList | filter:markWeap" 
                            <img src="asset/{{ x.link}}" width="150" height="150" style="padding: 0px; ">
                            <p>{{ x.name }}</p>
                    -->
                            <div class="contentz" >
                                <div ng-repeat="x in thingsList | filter:markWeap"  style="display: inline; overflow-x: scroll">
                                    <div class="itemz">
                                            <center>
                                                <img id="imeg" src="asset/{{ x.link }}" width="250" height="250" style="padding: 10px; ">
                                                <p>{{ x.name }}</p>
                                                <p style="font-size: 20px">{{ x.desc }}</p>
                                            </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
            <section>
                <div class="container" style="padding:10px">
                    <center>
                        <h1 style="display: inline; color:#5e9bff ;text-shadow: 2px 3px #dadeee;"> Mark Apps </h1>
                    </center>
                    <br><br>
                    <hr>
                    <center>
                        <div class="messages"></div>
                        <div class="turn"></div>
                        <table>
                          <tr>
                            <td class="item1"></td>
                            <td class="item2"></td>
                            <td class="item3"></td>
                          </tr>
                          <tr>
                            <td class="item4"></td>
                            <td class="item5"></td>
                            <td class="item6"></td>
                          </tr>
                          <tr>
                            <td class="item7"></td>
                            <td class="item8"></td>
                            <td class="item9"></td>
                          </tr>
                        </table>
                        <br /><input class="reset" type="button" value="NEW GAME" />    

                </center>
                </div>
	       </section>

        </div>

        <div class="footer">
            <div class="hr"></div>
            <br><br>
            <center><p>AW AW AW AW AW AW AW AW AW AW AW AW </p></center>
            
            
            
            
        </div>
        
    </div>

    
</body>
</html>
<script>
     
        
    var app = angular.module('myEtits', []);

    app.controller('tite', function($scope) {
    $scope.thingsList = [{name:'Angular.js', link:'angular.png',desc:'ANGULAR IS BAE'},
                         {name:'D3.js', link:'d3.png',desc: 'Chart making thingy'},
                         {name:'JSP', link:'jsp.png', desc: 'Ew Java :('},
                         {name:'Firebase', link:'firebase.png', desc:'NOSql online database'},
                         {name:'Android', link:'adnroid.png', desc:'Create Android.'},
                         {name:'Django', link:'django.png', desc:'DJANGO is BAE :(( Backend boii'},
                         {name:'JQuery', link:'jquery.png',desc:'Jekweri'},
                         {name:'Python', link:'python.png', desc:'PytH0n is Baee'},
                         {name:'PHP', link:'php.png', desc:'Rasmus Lerdorf sucks'},
                         {name:'AJAX', link:'ajax.png', desc:'EJACCx'},
                         {name:'HTML', link:'html.png',desc:'weeew'}];

    $scope.things = [
           
    ];
});
$(document).ready(function() {
    
  $(document).on('scroll', function(e) {
    $(window).scroll(function() {
      console.log($(this).scrollTop());
        
       if ($(window).scrollTop() > 300 && !$('.action-bar').hasClass('visible')) {
            $('.action-bar').fadeOut();
            $('.action-bar').addClass('visible').removeAttr('style');
      }
      else if($(window).scrollTop() <= 300 && $('.action-bar').hasClass('visible')) {
          $('.action-bar').fadeIn();
          $('.action-bar').removeClass('visible').removeAttr('style');
      } 
    });
  });
});
function Open(){
    console.log("hello");
    document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
    document.getElementById("myNav").style.width = "0%";
}
function click1(){
     $('html,body').animate({
        scrollTop: $("#arsenalz").offset().top},
        'slow');
}
function click2(){
     $('html,body').animate({
        scrollTop: $("#top").offset().top},
        'slow');
}    
function Func1(a){
    $("#div-" + a).fadeIn(1000);              
}
function Func2(a){
    
    console.log('i here');
    $("#lol").css({background: "url('eynl/"+a+".jpg')"})
}
$(document).ready(function(){
    $('#e11').fadeOut();
    $('#e22').fadeOut();
    $('#e33').fadeOut();
    $('#e44').fadeOut();
   
    
    var audio = document.getElementsByTagName("aud")[0];
    $('.holdingbox').hover(function(){  
        $('.rightbox').animate({width: '100px'}, 450)
        $('#folio').css({ color:'#4d71a8' });
        var audio = document.getElementsByTagName("audio")[0];
        audio.play();
    }, function(){
        $('.rightbox').animate({width: '0'}, 300);
        $('#folio').css({ color:'#449e3c' });
    });
    
    $('#e1').hover(function(){
        $('#e11').fadeIn();
    }, function(){
        $('#e11').fadeOut();
    });
    $('#imeg').hover(function(){
        $('#waw').fadeIn();
    }, function(){
        $('#waw').fadeOut();
    });
    $('#test').hover(function(){
        var audio = document.getElementsByTagName("audio")[1];
        audio.play();
        $(".abt").animate({'top': '-=400px'}, 'fast');
        $('#lol').css({display: 'inline-block'});
        
        $(".abtt").animate({'left': '+=200px', top: '-=72px', height:'35%', width:'30.1%'}, 'fast');
        
        for (divNo = 0; divNo < 5; divNo++) {
            if ($("#div-" + divNo.toString()).css("display") == 'none') {
                setTimeout("Func1("+ divNo.toString()+")", 500 * divNo);
            }
        }
        
         
        
    }, function(){
        
        $(".abt").animate({'top': '+=400px'}, 'fast');
        $(".abtt").animate({'left': '-=200px', top: '+=72px',height:'15px',width:'15px'}, 'fast');
        $('#lol').css({display: 'none'});
        $("#div-0").css({ display: 'none'});
        $("#div-1").css({ display: 'none'}); 
        $("#div-2").css({ display: 'none'}); 
        $("#div-3").css({ display: 'none'}); 
        $("#div-4").css({ display: 'none'}); 
        
        for (divNo = 0; divNo < 5; divNo++) {
            
              //$("#div-" + divNo.toString()).fadeOut(100);   
                
            $("#div-" + divNo.toString()).css({ display: 'none'});   
                
            }
         
    });
    
    $('#e2').hover(function(){
        $('#e22').fadeIn();
    }, function(){
        $('#e22').fadeOut();
    });
    
    $('#e3').hover(function(){
        $('#e33').fadeIn();
    }, function(){
        $('#e33').fadeOut();
    });
    
    $('#e4').hover(function(){
        $('#e44').fadeIn();
    }, function(){
        $('#e44').fadeOut();
    });
});
       
$(function() {
  
  var player = 1;
  var table = $('table');
  var messages = $('.messages');
  var turn = $('.turn');
  displayNextPlayer(turn, player);
  
  $('td').click(function() {
    td = $(this);
    var state = getState(td);
    if(!state) {
      var pattern = definePatternForCurrentPlayer(player);
      changeState(td, pattern);
      if(checkIfPlayerWon(table, pattern)) {
        turn.html('');
        alert('Player '+player+' has won.')  
      } else {
        player = setNextPlayer(player);
        displayNextPlayer(turn, player);
      }
    } else {
      messages.html('This box is already checked.');
    }
  });
  
  $('.reset').click(function() {
    player = 1;
    messages.html('');
    reset(table);
    displayNextPlayer(turn, player);
  });
  
});

function getState(td) {
  if(td.hasClass('cross') || td.hasClass('circle')) {
    return 1;
  } else {
    return 0;
  }
}

function changeState(td, pattern) {
  return td.addClass(pattern);
}

function definePatternForCurrentPlayer(player) {
  if(player == 1) {
    return 'cross';
  } else {
    return 'circle';
  }
}

function setNextPlayer(player) {
  if(player == 1) {
    return player = 2;
  } else {
    return player = 1;
  }
}

function displayNextPlayer(turn, player) {
  turn.html('Player turn : '+player);
}

function checkIfPlayerWon(table, pattern) {
  var won = 0;
  if(table.find('.item1').hasClass(pattern) && table.find('.item2').hasClass(pattern) && table.find('.item3').hasClass(pattern)) {
    won = 1;
  } else if (table.find('.item1').hasClass(pattern) && table.find('.item4').hasClass(pattern) && table.find('.item7').hasClass(pattern)) {
    won = 1;
  } else if (table.find('.item1').hasClass(pattern) && table.find('.item5').hasClass(pattern) && table.find('.item9').hasClass(pattern)) {
    won = 1;
  } else if (table.find('.item4').hasClass(pattern) && table.find('.item5').hasClass(pattern) && table.find('.item6').hasClass(pattern)) {
    won = 1;
  } else if (table.find('.item7').hasClass(pattern) && table.find('.item8').hasClass(pattern) && table.find('.item9').hasClass(pattern)) {
    won = 1;
  } else if (table.find('.item2').hasClass(pattern) && table.find('.item5').hasClass(pattern) && table.find('.item8').hasClass(pattern)) {
    won = 1;
  } else if (table.find('.item3').hasClass(pattern) && table.find('.item6').hasClass(pattern) && table.find('.item9').hasClass(pattern)) {
    won = 1;
  } else if (table.find('.item3').hasClass(pattern) && table.find('.item5').hasClass(pattern) && table.find('.item7').hasClass(pattern)) {
    won = 1;
  }
  return won;
}

function reset(table) {
  table.find('td').each(function() {
    $(this).removeClass('circle').removeClass('cross');
  });
}
</script>
